.Item {
    border: 2px solid cornflowerblue;
    margin: 10px;
    padding: 10px;
    float: left;
}

.ItemList {
    border: 1px solid black;
    display: inline-block;
    float: left;
    padding-top: 80px;
}

.Nav {
    overflow: hidden;
    background-color: #282c34;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 80px;
}

.Nav a {
    float: left;
    color: lightgray;
    padding: 25px 25px;
    text-decoration: none;
}

.Nav a:hover {
    background-color: lightgray;
    color: #282c34;
}

