.Item {
    border: 2px solid cornflowerblue;
    width: 90%;
    padding: 10px;
    margin: 5px;
}

.ItemList {
    border: 1px solid black;
    padding-top: 80px;
    width: 100%;
}

.Nav {
    overflow: hidden;
    background-color: #282c34;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 80px;
}

.Nav a {
    float: left;
    color: white;
    padding: 25px 25px;
    text-decoration: none;
    border: 1px solid black;
}

.Nav a:hover {
    background-color: lightgray;
    color: black;
    text-decoration: none;
}

.ActiveLink {
    color: black;
    background-color: lightgray;
    text-decoration: none;
}

.About {
    padding-top: 80px;
}
